<!doctype html>
<html lang="en">
  <head>
    
    <link
    href="https://cdn.pydata.org/bokeh/release/bokeh-2.1.0.min.css"
    rel="stylesheet" type="text/css">
    <link
    href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-2.1.0.min.css"
    rel="stylesheet" type="text/css">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Skeleton application demoing Heroku and Flask integration.">
    <meta name="author" content="@gotoariel">
    <!-- <link rel="icon" href="favicon.ico"> -->

    <title>Ticker Tape Parade</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  
  <script src="https://cdn.pydata.org/bokeh/release/bokeh-2.1.0.min.js"></script>
  <script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-2.1.0.min.js"></script>
  
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-left">
          <h2>Stock Price Lookup</h2>
          <!-- <form method="POST"> -->

          <form action="/">
          
          <label for="ticker">Ticker:</label>
          <input type="text" name="ticker" id="ticker">
          <label for="bdays">Days:</label>
          <input type="text" name="bdays" id='bdays'>
          <br>
          <input type="checkbox" name="High" id="High">&nbsp; High &nbsp;
          <input type="checkbox" name="Low" id="Low">&nbsp; Low &nbsp;
          <input type="checkbox" name="Open" id="Open">&nbsp; Open &nbsp;
          <input type="checkbox" name="Close" checked="checked" id="Close">&nbsp; Close &nbsp;
          <br>
          <input type="Submit" name="Submit" value="Submit">
          </form>
        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>

{{ script|safe }}
{{ div|safe }}

</html>
